@import "tailwindcss";

@theme {
    --color-regal-blue: #0ab8b7; 
    --color-regal-trans-blue: ; 
    --color-regal-dark-blue: #047271; 
    --color-regal-dark-trans-blue: #0472707e; 
    
}


/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f172a;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #448544;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }