@import "tailwindcss";

@theme {
    --color-regal-blue: #0ab8b7; 
    --color-regal-trans-blue: #0ab8b881; 
    --color-regal-dark-blue: #047271; 
    --color-regal-dark-trans-blue: #0472707e; 
    
}

